ul#events-categories {
    margin-left: 0 ;
    padding-left: 0 ;
    width: 100% ;
    float: left ;
/*     white-space: nowrap ; */
    background-color: #036 ;
}
#events-categories li { 
    display: inline ;
    list-style-type: none ;
/*     padding-right: 20px ; */
}
#events-categories a {
    padding: 3px 10px ;
    float: left ;
    color: #fff ;
    background-color: #036 ;
    text-decoration: none ;
    border-right: 1px solid white ;
}
#events-categories li.active a {
    color: yellow;
}

.events table.monthcalendar { clear: left ;}
.events table.monthcalendar th { text-align: center ; }
.events table.monthcalendar td { background: gray ; }
.events table.monthcalendar td {
    height: 90px;
    width:  90px;
}
.events table.monthcalendar td .day-number {
    color: white ;
    float: right;
    vertical-align: top ;
}
.events table tr td ul {
    list-style-type: none ;
    padding: 0 .2em ;
}