{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.pack.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/djadmin-preview.js"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tags.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/djadmin-preview.css" />
{% endblock %}


{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
  <li><a id="button-preview" href="">{% trans "Preview" %}</a></li>
  <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
<div id="preview"><div id="preview-content"></div></div>
{% endblock %}
