{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
{% block meta %} <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> {% endblock %}
{% block title %} <title>{% trans "Django Apps" %}</title> {% endblock %}
{% block style %} <link href="{{ media_url }}css/base.css" rel="stylesheet" type="text/css" /> {% endblock %}
{% block script %}{% endblock %}
</head>



{% block body-opentag %}<body>{% endblock %}
<div id="header">
{% block header %}
    <a class="logo" href="{{ site_url }}">Djapps</a>
    <div class="nav-sections-container">
        <ul class="nav-sections">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/docs/">Docs</a></li>
            <li><a href="/events/">Events</a></li>
            <li><a href="/optics/">Optics</a></li>
            <li><a href="/photoplanet/">PhotoPlanet</a></li>
        </ul>
    </div>
{% endblock %}
</div>

<div id="main">
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="sidebar">
        {% block sidebar %}
        <div class="menu-vert">aa<br/>uu</div>
        {% endblock %}
    </div>
</div>

<div id="footer">
{% block footer %}
    <ul class="links-horiz">
        <li><a href="/about/">About</a></li>
        <li>License: <a href="http://creativecommons.org/licenses/by-sa/2.5/es/deed.ca">Creative Commons By-SA</a></li>

    </ul>
{% endblock %}
</div>
</body></html>